@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Ceviche+One&family=Miltonian&family=Noto+Sans+Old+Persian&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Bilbo+Swash+Caps&family=Ceviche+One&family=Miltonian&family=Noto+Sans+Old+Persian&family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Bilbo+Swash+Caps&family=Ceviche+One&family=Explora&family=Miltonian&family=Noto+Sans+Old+Persian&family=Stylish&display=swap');

.full{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyStyle{
  /* background: #000; */
  height: 100%;
  overflow-y: scroll;
  
  /* color: aliceblue; */
  /* border: 2px solid black; */
}

.aref-ruqaa ink-regular {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa ink-bold {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 700;
  font-style: normal;
}
